.header{
    display: flex;
    justify-content: space-between;
    background: #FFB301;
    border-radius: 1px solid black;
}

.logo{
    width: 150px;
}

.header-items>ul{
    display: flex;
    padding-right: 10px;
    margin-right: 10px;
    font-size: 24px;
    
}

.header-items>ul>li{
    padding: 10;
    margin: 10;
}

.search-bar{
 padding: 10px;
}

.res-card{
height: 300px;
width: 200px;
padding: 5px;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.Res-img{
    width: 100%;
    
}

.resContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    gap: 20px;
    
}